@keyframes transitionIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.all-prices {
    min-height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    animation: transitionIn .75s;
    z-index: 1;
    background-color: var(--background);

    .coins-container {
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 80vw;
        background-color: white;
    }

    @media screen and (min-width: 768px) {
        .coins-container {
            width: 40vw;
        }
    }
}